body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightblue;
}

.todo-container p:hover {
  cursor: pointer;
}

.completed {
  color: #999999;
  text-decoration: line-through; 
}

.todo-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.todo-container:hover {
  background: lightcyan;
}

.todo-container button {
  background: transparent;
  border: none;
  outline: none;
}

.todo-container button:hover {
  color: lightseagreen;
  cursor: pointer;
}